html {
  font-size: var(--em--default);
}

body {
  color: var(--color--text);
  font-family: var(--font-family--base);
  font-weight: var(--font-weight--base);
  font-size: var(--font-size--b);
  line-height: var(--line-height--body);
}

a {
  color: var(--color--link);
  text-decoration: none;

  &:hover {
    color: var(--color--link--d);
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family--title);
}
